#html {
    background-color: linear-Gradient(9deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 100px;
    position: absolute;
}


.row {
    width: 100%;
    display: flex;
  }

.text {
      height: 40ox;
      width: 400px;
      border: 1px solid black;
      background: #ffffff;
  }

#placeholder {
    color: grey;
    font-size: 10px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;

}

#button {
    width: 50px;
    height: 100%;
    border: 0px;
    background: #1b5ac2;
    outline: none;
    float: right;
    color: #ffffff;
}

#page-title {
    text-align: top, right;
    font-family: 'Luminari', fantasy;
    font-size: 50px;
    padding: 50px;
    color: black;
}

#text {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    position: absolute;
    padding: 40px;
}

#p1 {
    padding: 10px;
    margin: 10px;
    position: absolute;
    max-width: 10%;
    bottom: -100px;
    left: 1100px;
}

#p2 {
    position: relative;
    right: 100px;
    bottom: -500px;
    left: 1100px;
    width: auto;
    height: auto;
    
}

#p3 {
    width: 10px;
    height: auto;
    position: absolute;
    left: 700px;
    bottom: 0px;

}

#p4 {
    
    padding: 100px;
    margin: 100px;
    position: absolute;
    width: 50px;
    left: 0px;
    bottom: -100px;
    height: auto;
}
