html {
    font-family: 'Luminari', fantasy;
    background-color: lightblue;
    color: black;
    padding: 50px;
}



}

#page-title{
    text-align: center;
    font-size: 50px;
    padding: 50px;
    color: black;
}

#text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: blue;
    position: absolute;
    padding: 40px;
}

#p1{
    padding: 10px;
    margin: 10px;
    position: absolute;
    max-width: 10%;
    bottom: -100px;
    left: 1100px;
}

#p2{
    padding: 10px;
    margin: 10px;
    position: absolute;
    top: -300px;
    left: 0px;

}

#p3{
    padding: -5px;
    margin: -5px;
    position: absolute;
    width: 120px;
    height: auto;
}